Package: rpi-install
Version: 1.01
Maintainer: Robert Key <robkey@mighty.co.za>
Priority: optional
Section: myown
Pre-depends: subversion
Recommends: build-essential,
	perlprimer-doc,
	perl-doc,
	perl-tk,
	libdevel-ptkdb-perl,
	mate-desktop-environment,
	mate-core,
	mate-desktop-environment-extras,
	findutils,
	dpkg-dev,
	debmirror,
	rsync,
	ssh,
	synaptic,
	libreoffice-calc,
	man2html,
	ibritish,
	ispell,
	builddebiantree,
	okular,
	dolphin,
        kio-extras,
        dolphin-plugins,
        kdesdk-dolphin-plugins,
	konsole,
	kdiff3,
	kompare,
	git-all,
	geany,
        geany-common,
	default-jdk,
        default-jdk-doc,
        geany-plugins,
        rclone
Architecture: arm64
Description: This package installs all files for raspberry pi
