Package: rpi-install
Version: 1.1.1
Maintainer: Robert Key <robkey@mighty.co.za>
Priority: optional
Section: myown
Pre-depends: xz-utils
Depends: mate-desktop-environment,
	mate-core,
	mate-desktop-environment-extras
Recommends: build-essential,
        subversion,
	perlprimer-doc,
	perl-doc,
	perl-tk,
	libdevel-ptkdb-perl,
	findutils,
	dpkg-dev,
	debmirror,
	rsync,
	ssh,
	synaptic,
	libreoffice-calc,
	man2html,
	ibritish,
	ispell,
	konsole,
	kdiff3,
	kompare,
	git-doc,
	git-man,
	git,
	default-jdk,
        default-jdk-doc,
        firefox-esr,
        libreoffice-gtk3
Architecture: arm64
Description: This package installs all files for raspberry pi
