Package: rpi-install
Version: 1.1.6
Maintainer: Robert Key <robkey@mighty.co.za>
Priority: optional
Section: myown
Pre-depends: xz-utils
Depends: mate-desktop-environment,
	mate-core,
	mate-desktop-environment-extras,
	network-manager,
	network-manager-gnome
Recommends: build-essential,
	perlprimer-doc,
	perl-doc,
	perl-tk,
	libdevel-ptkdb-perl,
	findutils,
	dpkg-dev,
	debmirror,
	rsync,
	ssh,
	synaptic,
	libreoffice-calc,
	man2html,
	ibritish,
	ispell,
	konsole,
	kdiff3,
	kompare,
	default-jdk,
        default-jdk-doc,
        firefox-esr,
        libreoffice-gtk3,
        printer-driver-all,
        pi-printer-support,
        printer-driver-brlaser,
        printer-driver-postscript-hp,
        system-config-printer-common,
        system-config-printer-udev,
	printer-driver-cups-pdf,
	openjdk-17-jdk
Architecture: arm64
Description: This package installs all files for raspberry pi
